In [3]:
import pandas as pd

data = pd.read_csv('Air.csv')
data.describe()

,Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Updated Year
count,32191.000000,15048.000000,21109.000000,22200.000000,7275.000000,5381.000000,19890.000000,32191.000000
mean,2015.579354,22.920320,30.533252,20.619336,90.794096,90.583500,93.696804,2021.744214
std,2.752654,17.925906,29.312756,12.133388,14.872681,13.816311,10.451751,1.051897
min,2000.000000,0.010000,1.040000,0.000000,0.000000,2.568493,1.923077,2016.000000
25%,2014.000000,10.350000,16.980000,12.000000,88.595890,87.945205,93.207763,2022.000000
50%,2016.000000,16.000000,22.000000,18.800000,97.000000,96.039000,96.369863,2022.000000
75%,2018.000000,31.000000,31.300000,27.160000,99.000000,98.938000,98.926941,2022.000000
max,2021.000000,191.900000,540.000000,210.680000,100.000000,100.000000,100.000000,2022.000000